notes.txt

**/.terraform/*
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate*

*.tfstate
*.tfstate.*

crash.log
crash.*.log
*.tfvars
*.tfvars.json

**/.terraform.tfstate.lock.info

*.pem
week1/.DS_Store
.DS_Store

**/inventory.ini
*.json